/*	태그선택자*/
div{
	color:blue;
	
}
/*클래스 선택자*/
.red{
	color:red;
}

/*id 선택자*/
#paragraph{
	color:silver;
}

#pseudo{
	background-color:black;
	color:white;
}

#pseudo:hover{
	
	color:gray;
}
#pseudo:active{
	
	color:yellow;
}

input:focus{
	background-color:papayawhip;
}
