<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>영역태그</title>
<style>
div{
color:red;
}
</style>




</head>
<body>
	아이디:<input type="text" id="id"/>
	<!-- div는 좌우에 다른 콘텐츠가 배칠 될 수없습니다.
	span은 좌우에 다른 콘텐츠가 배치될 수 있다. -->
	<div id="display"></div> 
	<input type="button" id="btn" value="버튼"/>
	
	<ul>
	<li><a href="imagemap.html" target="content">이미지 맵</a><li/>
	</ul>
	
	<iframe name="content" width="400"	 height="400"
	src="https://www.kakao.com"></iframe>
	
	
</body>

<script>

document.getElementById("btn").onclick = function(e){
	if(document.getElementById("id").value.length==0){
		document.getElementById("display").innerHTML="아이디는 필수 입력입니다."
	}
	
		
}
</script>

</html>